public/flow/MQTT_sub.json
[{"id":"43fb4700.d2b768","type":"debug","z":"8999d696.4e34e8","name":"","active":true,"console":"false","complete":"payload","x":330,"y":74,"wires":[]},{"id":"71ae6b11.100324","type":"function","z":"8999d696.4e34e8","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('Repeat message drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":348.37501525878906,"y":149.38671875,"wires":[["11396843.900e88","a8bbf3da.d5d2b"]]},{"id":"11396843.900e88","type":"function","z":"8999d696.4e34e8","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":574.3788452148438,"y":152.88671875,"wires":[["32228f1f.b395d"]]},{"id":"32228f1f.b395d","type":"debug","z":"8999d696.4e34e8","name":"","active":false,"console":"false","complete":"false","x":761.3827972412109,"y":153.53516387939453,"wires":[]},{"id":"c61f5371.e385e","type":"mqtt in","z":"8999d696.4e34e8","name":"mqtt","topic":"client/200000233/200000233-GIOT-MAKER","qos":"2","broker":"4b900b40.fe81d4","x":89.00001525878906,"y":74.61112213134766,"wires":[["43fb4700.d2b768","71ae6b11.100324"]]},{"id":"bd16424e.dde85","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":103.99998474121094,"y":422.00002574920654,"wires":[["e0ebca2c.f737e8"]]},{"id":"e0ebca2c.f737e8","type":"function","z":"8999d696.4e34e8","name":"Save finalList to DB","func":"var msgTools = context.global.msgTools;\nvar listDbTools = context.global.listeDbTools;\nvar list = msgTools.getFinalList();\nnode.warn('list :'+JSON.stringify(list));\n//msgTools.saveFinalListToFile();\nlistDbTools.updateList('finalist',list,function(err,result){\n    if(err)\n        node.warn('Save final list to database err:'+err);\n    else\n         node.log('Save final list to database success');\n});\n\nreturn;","outputs":1,"noerr":0,"x":414.00392150878906,"y":425.1874952316284,"wires":[[]]},{"id":"c012cb3d.3c4a98","type":"comment","z":"8999d696.4e34e8","name":"Auto save finalList to file per 1 minutes","info":"","x":159.99609375,"y":376.6406817436218,"wires":[]},{"id":"1877109b.647bbf","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"{\"id\":\"e7cc387f-01fb-4861-9d7b-178f455d588d\",\"macAddr\":\"05010403\",\"data\":\"aa1069007b00170200db09fa00cf0205\",\"buff\":\"2017-06-08T00:31:52.712Z\",\"recv\":\"2017-06-08T00:31:52.000Z\",\"extra\":{\"gwip\":\"134.208.240.24\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-105,\"snr\":15.5}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":82,"y":226,"wires":[["9fba938d.12274"]]},{"id":"9fba938d.12274","type":"function","z":"8999d696.4e34e8","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":193.0000228881836,"y":221.0000205039978,"wires":[["71ae6b11.100324"]]},{"id":"a8bbf3da.d5d2b","type":"function","z":"8999d696.4e34e8","name":" message switch notify","func":"\nvar obj = msg.payload;\nvar debug = false;\nnode.warn('final payload : \\n'+JSON.stringify(obj));\nif(obj.information.voltage<600){\n    var str = obj.mac + \":\"+\"電壓 = \" + obj.information.voltage + \"過低\";\n    msg.payload = str;\n    msg.topic = \"惟壹sensor問題通知\";\n    node.warn('final payload : '+str);\n\n    return msg;\n}else{\n    return;\n}","outputs":1,"noerr":0,"x":573,"y":228,"wires":[["370b2ad.5e5b6d6"]]},{"id":"370b2ad.5e5b6d6","type":"e-mail","z":"8999d696.4e34e8","server":"smtp.gmail.com","port":"465","secure":true,"name":"hyper5798@gmail.com","dname":"","x":854,"y":235,"wires":[]},{"id":"a0f7cc2a.ab632","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":" {\"mac\":\"05010403\",\"data\":\"aa1069007b00170200db09fa00cf0205\",\"recv\":\"2017-06-08T00:31:52.000Z\",\"date\":\"2017/06/08 08:31:52\",\"extra\":{\"gwip\":\"134.208.240.24\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-105,\"snr\":15.5},\"timestamp\":1496881912000,\"information\":{\"ph\":1.23,\"do\":0.23,\"cond\":131.291,\"temperature\":25.54,\"ntu\":2.07,\"voltage\":517}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":386,"y":228,"wires":[["a8bbf3da.d5d2b"]]},{"id":"2925554e.4da64a","type":"comment","z":"8999d696.4e34e8","name":"手動測試(須改data tag)","info":"","x":107.16666412353516,"y":279.866681098938,"wires":[]},{"id":"3fddcbfa.754434","type":"comment","z":"8999d696.4e34e8","name":"手動測試mail收信(不需改tag)","info":"","x":429.16668701171875,"y":279.8666763305664,"wires":[]},{"id":"4b900b40.fe81d4","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000233-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]