public/flow/ws_index.json
[{"id":"b5316cf3.2bb61","type":"websocket in","z":"122cd340.413edd","name":"web socket index - in","server":"9ac650c1.209d2","client":"","x":234.06336975097656,"y":176.52343368530273,"wires":[["2507dda2.9e7482"]]},{"id":"2507dda2.9e7482","type":"function","z":"122cd340.413edd","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":516.5078125,"y":193.85676670074463,"wires":[["d580014a.c8d29"],["dc48f998.38de98"]]},{"id":"d8cceed7.dad99","type":"function","z":"122cd340.413edd","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":963.5078125,"y":216.5234375,"wires":[["d580014a.c8d29"]]},{"id":"d580014a.c8d29","type":"websocket out","z":"122cd340.413edd","name":"web socket mobiUI - out","server":"9ac650c1.209d2","client":"","x":1252.5078125,"y":176.5234375,"wires":[]},{"id":"80911d32.8e625","type":"comment","z":"122cd340.413edd","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":212.5078125,"y":129.5234375,"wires":[]},{"id":"dc48f998.38de98","type":"http request","z":"122cd340.413edd","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":723.5078125,"y":216.5234375,"wires":[["d8cceed7.dad99"]]},{"id":"8371b6e5.5c6a58","type":"websocket out","z":"122cd340.413edd","name":"web socket mobiUI - out","server":"f7b6d677.809628","client":"","x":980.5078125,"y":422.5234375,"wires":[]},{"id":"59f3fb98.485254","type":"websocket in","z":"122cd340.413edd","name":"web socket tools - in","server":"f7b6d677.809628","client":"","x":217.8411407470703,"y":337.5234441757202,"wires":[["27937ddc.1825e2","a6359308.0161c"]]},{"id":"abcacfcd.9a2fb","type":"comment","z":"122cd340.413edd","name":"Listen /ws/devices","info":"","x":204.5078125,"y":297.5234375,"wires":[]},{"id":"27937ddc.1825e2","type":"function","z":"122cd340.413edd","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":200.95225524902344,"y":421.52343368530273,"wires":[["d058c3d1.e2d39"]]},{"id":"a6359308.0161c","type":"debug","z":"122cd340.413edd","name":"","active":false,"console":"false","complete":"payload","x":530.7578125,"y":335.140625,"wires":[]},{"id":"d058c3d1.e2d39","type":"http request","z":"122cd340.413edd","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":398.5078125,"y":421.5234375,"wires":[["d4f376c.7ce9c88","7a7f1583.5a82bc"]]},{"id":"d4f376c.7ce9c88","type":"debug","z":"122cd340.413edd","name":"","active":false,"console":"false","complete":"false","x":511.75,"y":501.140625,"wires":[]},{"id":"7a7f1583.5a82bc","type":"function","z":"122cd340.413edd","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":679.5078125,"y":423.5234375,"wires":[["8371b6e5.5c6a58"]]},{"id":"2a6ec52.8959b3a","type":"comment","z":"122cd340.413edd","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":213.45310974121094,"y":539.1371459960938,"wires":[]},{"id":"89678751.4d2238","type":"function","z":"122cd340.413edd","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":218.45309448242188,"y":659.1371459960938,"wires":[["9c318b56.42f838"],["95fd8f6a.b08aa"]]},{"id":"ecde2914.014678","type":"function","z":"122cd340.413edd","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData('pir',devices);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: 'pir'}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":943.453125,"y":711.1371459960938,"wires":[["9c318b56.42f838","3a5480d2.cbe73"]]},{"id":"9c318b56.42f838","type":"websocket out","z":"122cd340.413edd","name":"web socket mobiUI - out","server":"3d3a2f85.1c73f","client":"","x":1259.453125,"y":632.1371459960938,"wires":[]},{"id":"bd1a132c.1abfb","type":"http request","z":"122cd340.413edd","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":675.453125,"y":714.1371459960938,"wires":[["ecde2914.014678","784dc646.e43418"]]},{"id":"b8008402.4add68","type":"websocket in","z":"122cd340.413edd","name":"Web Socket gateway - in","server":"3d3a2f85.1c73f","client":"","x":211.9444580078125,"y":599.7395877838135,"wires":[["89678751.4d2238"]]},{"id":"95fd8f6a.b08aa","type":"function","z":"122cd340.413edd","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID');\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\ncontext.global.selectedMac= mac;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":499.75,"y":705.3828125,"wires":[["bd1a132c.1abfb"],[]]},{"id":"2449bb20.4e9854","type":"function","z":"122cd340.413edd","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":941.5078125,"y":775.5234375,"wires":[["9c318b56.42f838","ecded981.a428c8"]]},{"id":"b5f7505.e7088b","type":"http request","z":"122cd340.413edd","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":673.5078125,"y":778.5234375,"wires":[["2449bb20.4e9854"]]},{"id":"3a5480d2.cbe73","type":"debug","z":"122cd340.413edd","name":"","active":true,"console":"false","complete":"payload","x":1265.7578125,"y":718.1328125,"wires":[]},{"id":"ecded981.a428c8","type":"debug","z":"122cd340.413edd","name":"","active":true,"console":"false","complete":"payload","x":1277.5078125,"y":784.5234375,"wires":[]},{"id":"784dc646.e43418","type":"debug","z":"122cd340.413edd","name":"","active":true,"console":"false","complete":"false","x":877.75,"y":590.140625,"wires":[]},{"id":"9ac650c1.209d2","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"f7b6d677.809628","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"3d3a2f85.1c73f","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"}]