public/flow/ws_index.json
[{"id":"953497e1.23f8e8","type":"websocket in","z":"cd613495.2071c8","name":"web socket index - in","server":"d7cc3112.3848f","client":"","x":220,"y":160,"wires":[["e1454c48.3f2cb"]]},{"id":"e1454c48.3f2cb","type":"function","z":"cd613495.2071c8","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":502.44444274902344,"y":177.3333330154419,"wires":[["b7c178c4.c43778"],["376ff611.ac8f8a"]]},{"id":"fa082f1e.574c","type":"function","z":"cd613495.2071c8","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":949.4444427490234,"y":200.00000381469727,"wires":[["b7c178c4.c43778"]]},{"id":"b7c178c4.c43778","type":"websocket out","z":"cd613495.2071c8","name":"web socket mobiUI - out","server":"d7cc3112.3848f","client":"","x":1238.4444427490234,"y":160.00000381469727,"wires":[]},{"id":"e74f1eaa.4a8c6","type":"comment","z":"cd613495.2071c8","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":198.44444274902344,"y":113.00000381469727,"wires":[]},{"id":"376ff611.ac8f8a","type":"http request","z":"cd613495.2071c8","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":709.4444427490234,"y":200.00000381469727,"wires":[["fa082f1e.574c"]]},{"id":"585b79a.4b0fd88","type":"websocket out","z":"cd613495.2071c8","name":"web socket mobiUI - out","server":"3444c757.64e958","client":"","x":966.4444427490234,"y":406.00000381469727,"wires":[]},{"id":"eb362dbb.b46bf","type":"websocket in","z":"cd613495.2071c8","name":"web socket tools - in","server":"3444c757.64e958","client":"","x":203.77777099609375,"y":321.0000104904175,"wires":[["7ee1ebf2.262974","b53f76ce.67fd48"]]},{"id":"61ff88eb.896648","type":"comment","z":"cd613495.2071c8","name":"Listen /ws/devices","info":"","x":190.44444274902344,"y":281.00000381469727,"wires":[]},{"id":"7ee1ebf2.262974","type":"function","z":"cd613495.2071c8","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":186.88888549804688,"y":405,"wires":[["ae2d6aec.7e8ed8"]]},{"id":"b53f76ce.67fd48","type":"debug","z":"cd613495.2071c8","name":"","active":false,"console":"false","complete":"payload","x":516.6944427490234,"y":318.61719131469727,"wires":[]},{"id":"ae2d6aec.7e8ed8","type":"http request","z":"cd613495.2071c8","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":384.44444274902344,"y":405.00000381469727,"wires":[["a86bd966.b41698","65e9d6d3.1081c8"]]},{"id":"a86bd966.b41698","type":"debug","z":"cd613495.2071c8","name":"","active":false,"console":"false","complete":"false","x":497.68663024902344,"y":484.61719131469727,"wires":[]},{"id":"65e9d6d3.1081c8","type":"function","z":"cd613495.2071c8","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":665.4444427490234,"y":407.00000381469727,"wires":[["585b79a.4b0fd88"]]},{"id":"bc4e5df6.30872","type":"comment","z":"cd613495.2071c8","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":199.38973999023438,"y":522.613712310791,"wires":[]},{"id":"543a8be6.f77404","type":"function","z":"cd613495.2071c8","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":204.3897247314453,"y":642.613712310791,"wires":[["4cd72ef0.16f36"],["97a6cfec.fba58"]]},{"id":"176e4ecb.93e9c1","type":"function","z":"cd613495.2071c8","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: 'gateway'}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":929.3897552490234,"y":694.613712310791,"wires":[["4cd72ef0.16f36","b95c7613.1e7b38"]]},{"id":"4cd72ef0.16f36","type":"websocket out","z":"cd613495.2071c8","name":"web socket mobiUI - out","server":"9b7aa889.4dfd78","client":"","x":1245.3897552490234,"y":615.613712310791,"wires":[]},{"id":"5a114fc2.5b86a","type":"http request","z":"cd613495.2071c8","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":661.3897552490234,"y":697.613712310791,"wires":[["176e4ecb.93e9c1","a84eef33.29d6b"]]},{"id":"f7e7b751.f39ec8","type":"websocket in","z":"cd613495.2071c8","name":"Web Socket gateway - in","server":"9b7aa889.4dfd78","client":"","x":197.88108825683594,"y":583.2161540985107,"wires":[["543a8be6.f77404"]]},{"id":"97a6cfec.fba58","type":"function","z":"cd613495.2071c8","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID');\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\ncontext.global.selectedMac= mac;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":485.68663024902344,"y":688.8593788146973,"wires":[["5a114fc2.5b86a"],[]]},{"id":"8afed24b.5c085","type":"function","z":"cd613495.2071c8","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":927.4444427490234,"y":759.0000038146973,"wires":[["4cd72ef0.16f36","e2bc6254.1594b"]]},{"id":"3d6faf91.6c563","type":"http request","z":"cd613495.2071c8","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":659.4444427490234,"y":762.0000038146973,"wires":[["8afed24b.5c085"]]},{"id":"b95c7613.1e7b38","type":"debug","z":"cd613495.2071c8","name":"","active":true,"console":"false","complete":"payload","x":1251.6944427490234,"y":701.6093788146973,"wires":[]},{"id":"e2bc6254.1594b","type":"debug","z":"cd613495.2071c8","name":"","active":true,"console":"false","complete":"payload","x":1263.4444427490234,"y":768.0000038146973,"wires":[]},{"id":"a84eef33.29d6b","type":"debug","z":"cd613495.2071c8","name":"","active":true,"console":"false","complete":"false","x":863.6866302490234,"y":573.6171913146973,"wires":[]},{"id":"d7cc3112.3848f","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"3444c757.64e958","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"9b7aa889.4dfd78","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"}]