.nodered/.flows_960193-NB01.json.backup
[{"id":"122cd340.413edd","type":"tab","label":"Flow 1"},{"id":"3d3a2f85.1c73f","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"},{"id":"f7b6d677.809628","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"9ac650c1.209d2","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"b5316cf3.2bb61","type":"websocket in","z":"122cd340.413edd","name":"web socket index - in","server":"9ac650c1.209d2","client":"","x":234.06336975097656,"y":176.52343368530273,"wires":[["2507dda2.9e7482"]]},{"id":"2507dda2.9e7482","type":"function","z":"122cd340.413edd","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"change_table\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":516.5078125,"y":193.85676670074463,"wires":[["d580014a.c8d29"],["dc48f998.38de98"]]},{"id":"d8cceed7.dad99","type":"function","z":"122cd340.413edd","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":963.5078125,"y":216.5234375,"wires":[["d580014a.c8d29"]]},{"id":"d580014a.c8d29","type":"websocket out","z":"122cd340.413edd","name":"web socket mobiUI - out","server":"9ac650c1.209d2","client":"","x":1252.5078125,"y":176.5234375,"wires":[]},{"id":"80911d32.8e625","type":"comment","z":"122cd340.413edd","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":212.5078125,"y":129.5234375,"wires":[]},{"id":"dc48f998.38de98","type":"http request","z":"122cd340.413edd","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":723.5078125,"y":216.5234375,"wires":[["d8cceed7.dad99"]]},{"id":"8371b6e5.5c6a58","type":"websocket out","z":"122cd340.413edd","name":"web socket mobiUI - out","server":"f7b6d677.809628","client":"","x":980.5078125,"y":422.5234375,"wires":[]},{"id":"59f3fb98.485254","type":"websocket in","z":"122cd340.413edd","name":"web socket tools - in","server":"f7b6d677.809628","client":"","x":217.8411407470703,"y":337.5234441757202,"wires":[["27937ddc.1825e2","a6359308.0161c"]]},{"id":"abcacfcd.9a2fb","type":"comment","z":"122cd340.413edd","name":"Listen /ws/devices","info":"","x":204.5078125,"y":297.5234375,"wires":[]},{"id":"27937ddc.1825e2","type":"function","z":"122cd340.413edd","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":200.95225524902344,"y":421.52343368530273,"wires":[["d058c3d1.e2d39"]]},{"id":"a6359308.0161c","type":"debug","z":"122cd340.413edd","name":"","active":false,"console":"false","complete":"payload","x":530.7578125,"y":335.140625,"wires":[]},{"id":"d058c3d1.e2d39","type":"http request","z":"122cd340.413edd","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":398.5078125,"y":421.5234375,"wires":[["d4f376c.7ce9c88","7a7f1583.5a82bc"]]},{"id":"d4f376c.7ce9c88","type":"debug","z":"122cd340.413edd","name":"","active":false,"console":"false","complete":"false","x":511.75,"y":501.140625,"wires":[]},{"id":"7a7f1583.5a82bc","type":"function","z":"122cd340.413edd","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":679.5078125,"y":423.5234375,"wires":[["8371b6e5.5c6a58"]]},{"id":"2a6ec52.8959b3a","type":"comment","z":"122cd340.413edd","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":213.45310974121094,"y":539.1371459960938,"wires":[]},{"id":"89678751.4d2238","type":"function","z":"122cd340.413edd","name":"Check WS Message","func":"var msgTools = context.global.msgTools;\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"change_mac\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n\tcontext.global.selectedMac= mac;\n\tmsg.url = \"http://\"+host+\":\"+port+\"/todos/gateway?mac=\"+mac+\"&mdate=\"+date+\"&option=\"+option;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":507.45310974121094,"y":600.1371459960938,"wires":[["9c318b56.42f838"],["bd1a132c.1abfb"]]},{"id":"ecde2914.014678","type":"function","z":"122cd340.413edd","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":954.4531097412109,"y":626.1371459960938,"wires":[["9c318b56.42f838"]]},{"id":"9c318b56.42f838","type":"websocket out","z":"122cd340.413edd","name":"web socket mobiUI - out","server":"3d3a2f85.1c73f","client":"","x":1243.453109741211,"y":586.1371459960938,"wires":[]},{"id":"bd1a132c.1abfb","type":"http request","z":"122cd340.413edd","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":714.4531097412109,"y":626.1371459960938,"wires":[["ecde2914.014678"]]},{"id":"b8008402.4add68","type":"websocket in","z":"122cd340.413edd","name":"Web Socket gateway - in","server":"3d3a2f85.1c73f","client":"","x":211.9444580078125,"y":599.7395877838135,"wires":[["89678751.4d2238"]]}]