.nodered/flows_Jason-PC.json
[{"id":"9bad82d3.73747","type":"tab","label":"Flow 1"},{"id":"8999d696.4e34e8","type":"tab","label":"Flow 2"},{"id":"a6c4d10b.73a6d","type":"tab","label":"Flow 3"},{"id":"abc64386.ef263","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"1efaaa2b.a92da6","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"352c287b.4d7588","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"},{"id":"4b900b40.fe81d4","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000233-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4b8dc3b6.951bcc","type":"websocket in","z":"9bad82d3.73747","name":"web socket index - in","server":"abc64386.ef263","client":"","x":127,"y":95.00000858306885,"wires":[["c59640e.3a501c"]]},{"id":"c59640e.3a501c","type":"function","z":"9bad82d3.73747","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":409.44444274902344,"y":112.33334159851074,"wires":[["ed9b7b58.0b5e18"],["6a5d47e8.bbc178"]]},{"id":"8ddb0c9b.2119c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":856.4444427490234,"y":135.0000123977661,"wires":[["ed9b7b58.0b5e18"]]},{"id":"ed9b7b58.0b5e18","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"abc64386.ef263","client":"","x":1145.4444427490234,"y":95.00001239776611,"wires":[]},{"id":"61dca628.328d38","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":105.44444274902344,"y":48.00001239776611,"wires":[]},{"id":"6a5d47e8.bbc178","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":616.4444427490234,"y":135.0000123977661,"wires":[["8ddb0c9b.2119c"]]},{"id":"b7a6215e.c888b","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"1efaaa2b.a92da6","client":"","x":883.5633544921875,"y":372.4000024795532,"wires":[]},{"id":"be5e8aed.fe8cb8","type":"websocket in","z":"9bad82d3.73747","name":"web socket tools - in","server":"1efaaa2b.a92da6","client":"","x":120.89668273925781,"y":287.40000915527344,"wires":[["ba3ae481.b0c378","1d9ab1a7.cc60fe"]]},{"id":"33efa9a0.cb85a6","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/devices","info":"","x":107.5633544921875,"y":247.40000247955322,"wires":[]},{"id":"ba3ae481.b0c378","type":"function","z":"9bad82d3.73747","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":104.00779724121094,"y":371.39999866485596,"wires":[["f53a32e3.17592"]]},{"id":"1d9ab1a7.cc60fe","type":"debug","z":"9bad82d3.73747","name":"","active":false,"console":"false","complete":"payload","x":433.8133544921875,"y":285.0171899795532,"wires":[]},{"id":"f53a32e3.17592","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":301.5633544921875,"y":371.4000024795532,"wires":[["c49211f1.6e101","c0f72c15.8506c"]]},{"id":"c49211f1.6e101","type":"debug","z":"9bad82d3.73747","name":"","active":false,"console":"false","complete":"false","x":414.8055419921875,"y":451.0171899795532,"wires":[]},{"id":"c0f72c15.8506c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":582.5633544921875,"y":373.4000024795532,"wires":[["b7a6215e.c888b"]]},{"id":"c50e5971.63e358","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":116.50865173339844,"y":489.013710975647,"wires":[]},{"id":"85c5a06.fb52a6","type":"function","z":"9bad82d3.73747","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":121.50863647460938,"y":609.013710975647,"wires":[["4ddc4358.90093c"],["bd71cf70.43b62"]]},{"id":"7c4e690.3f6a898","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\n\nmsg.payload = {id:\"change_table1\", v: dataString,type: 'gateway'}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":846.5086669921875,"y":661.013710975647,"wires":[["4ddc4358.90093c","ab8d437d.ca1dc"]]},{"id":"4ddc4358.90093c","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"352c287b.4d7588","client":"","x":1162.5086669921875,"y":582.013710975647,"wires":[]},{"id":"6266040e.a5f77c","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":578.5086669921875,"y":664.013710975647,"wires":[["7c4e690.3f6a898","a257fa80.c83378"]]},{"id":"75b46cca.10ac94","type":"websocket in","z":"9bad82d3.73747","name":"Web Socket gateway - in","server":"352c287b.4d7588","client":"","x":115,"y":549.6161527633667,"wires":[["85c5a06.fb52a6"]]},{"id":"bd71cf70.43b62","type":"function","z":"9bad82d3.73747","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID');\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\ncontext.global.selectedMac= mac;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":402.8055419921875,"y":655.2593774795532,"wires":[["6266040e.a5f77c"],["899a8840.261578"]]},{"id":"22543f6a.4b592","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\n\nmsg.payload = {id:\"change_table2\", v: dataString,type: 'gateway'}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":844.5633544921875,"y":725.4000024795532,"wires":[["4ddc4358.90093c","8c1d04d0.b48718"]]},{"id":"899a8840.261578","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":576.5633544921875,"y":728.4000024795532,"wires":[["22543f6a.4b592"]]},{"id":"ab8d437d.ca1dc","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"payload","x":1168.8133544921875,"y":668.0093774795532,"wires":[]},{"id":"8c1d04d0.b48718","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"payload","x":1180.5633544921875,"y":734.4000024795532,"wires":[]},{"id":"a257fa80.c83378","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"false","x":780.8055419921875,"y":540.0171899795532,"wires":[]},{"id":"43fb4700.d2b768","type":"debug","z":"8999d696.4e34e8","name":"","active":false,"console":"false","complete":"payload","x":330,"y":74,"wires":[]},{"id":"71ae6b11.100324","type":"function","z":"8999d696.4e34e8","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('Repeat message drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":348.37501525878906,"y":149.38671875,"wires":[["11396843.900e88","a8bbf3da.d5d2b"]]},{"id":"11396843.900e88","type":"function","z":"8999d696.4e34e8","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":574.3788452148438,"y":152.88671875,"wires":[["32228f1f.b395d"]]},{"id":"32228f1f.b395d","type":"debug","z":"8999d696.4e34e8","name":"","active":false,"console":"false","complete":"false","x":761.3827972412109,"y":153.53516387939453,"wires":[]},{"id":"c61f5371.e385e","type":"mqtt in","z":"8999d696.4e34e8","name":"mqtt","topic":"client/200000233/200000233-GIOT-MAKER","qos":"2","broker":"4b900b40.fe81d4","x":89.00001525878906,"y":74.61112213134766,"wires":[["43fb4700.d2b768"]]},{"id":"bd16424e.dde85","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":132.99996948242188,"y":322,"wires":[["e0ebca2c.f737e8"]]},{"id":"e0ebca2c.f737e8","type":"function","z":"8999d696.4e34e8","name":"Save finalList to DB","func":"var msgTools = context.global.msgTools;\nvar listDbTools = context.global.listeDbTools;\nvar list = msgTools.getFinalList();\nnode.warn('list :'+JSON.stringify(list));\n//msgTools.saveFinalListToFile();\nlistDbTools.updateList('finalist',list,function(err,result){\n    if(err)\n        node.warn('Save final list to database err:'+err);\n    else\n         node.log('Save final list to database success');\n});\n\nreturn;","outputs":1,"noerr":0,"x":443.00390625,"y":325.1874694824219,"wires":[[]]},{"id":"c012cb3d.3c4a98","type":"comment","z":"8999d696.4e34e8","name":"Auto save finalList to file per 1 minutes","info":"","x":232.99606323242188,"y":281.640625,"wires":[]},{"id":"1877109b.647bbf","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"{\"id\":\"e7cc387f-01fb-4861-9d7b-178f455d588d\",\"macAddr\":\"05010403\",\"data\":\"aa1069007b00170200db09fa00cf0205\",\"buff\":\"2017-06-08T00:31:52.712Z\",\"recv\":\"2017-06-08T00:31:52.000Z\",\"extra\":{\"gwip\":\"134.208.240.24\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-105,\"snr\":15.5}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":82,"y":226,"wires":[["9fba938d.12274"]]},{"id":"9fba938d.12274","type":"function","z":"8999d696.4e34e8","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":212,"wires":[["71ae6b11.100324"]]},{"id":"a8bbf3da.d5d2b","type":"function","z":"8999d696.4e34e8","name":" message switch notify","func":"\nvar obj = msg.payload;\nvar debug = false;\nnode.warn('final payload : \\n'+JSON.stringify(obj));\nif(obj.information.voltage<600){\n    var str = obj.mac + \":\"+\"電壓 = \" + obj.information.voltage + \"過低\";\n    msg.payload = str;\n    msg.topic = \"惟壹sensor問題通知\";\n    node.warn('final payload : '+str);\n\n    return msg;\n}else{\n    return;\n}","outputs":1,"noerr":0,"x":573,"y":228,"wires":[["370b2ad.5e5b6d6"]]},{"id":"a0f7cc2a.ab632","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":" {\"mac\":\"05010403\",\"data\":\"aa1069007b00170200db09fa00cf0205\",\"recv\":\"2017-06-08T00:31:52.000Z\",\"date\":\"2017/06/08 08:31:52\",\"extra\":{\"gwip\":\"134.208.240.24\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-105,\"snr\":15.5},\"timestamp\":1496881912000,\"information\":{\"ph\":1.23,\"do\":0.23,\"cond\":131.291,\"temperature\":25.54,\"ntu\":2.07,\"voltage\":517}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":327,"y":249,"wires":[["a8bbf3da.d5d2b"]]},{"id":"370b2ad.5e5b6d6","type":"e-mail","z":"8999d696.4e34e8","server":"smtp.gmail.com","port":"465","secure":true,"name":"hyper5798@gmail.com","dname":"","x":854,"y":235,"wires":[]},{"id":"6377adb1.e11024","type":"function","z":"a6c4d10b.73a6d","name":"Save message to  DB","func":"var debug = false;\nvar deviceDbTools = context.global. deviceDbTools;\nvar moment = context.global.momentModule;\nnode.warn('Updata DB format');\n\n\ndeviceDbTools.findAllDevices(function(err,devices){\n    if(err){\n        console.log(err);\n    }\n    for(var i = 0; i < devices.length; i++){\n        if(debug && i>0){\n            break;\n        }\n        if(debug){\n            node.warn('devices ('+i+'): '+devices[i]);\n        }\n        \n        updateDevice(devices[i]);\n    }\n});\n\n\nfunction updateDevice(device){\n    var mInfo =device.info;\n    node.warn('@@@@ device info:'+JSON.stringify(mInfo));\n    var mData = device.data;\n    \n    mInfo.cond = getIntData([16,20,1000],mData);\n    node.warn('after info : '+JSON.stringify(mInfo));\n    var json = {info:mInfo};\n    deviceDbTools.updateDeviceData(device._id,json);\n}\n\nfunction getIntData(arrRange,data){\n    var ret = {};\n    var start = arrRange[0];\n    var end = arrRange[1];\n    var diff = arrRange[2];\n    var intData = parseInt(data.substring(start,end),16);\n   \n    if(diff === 1)\n        return intData;\n    else\n        return intData/diff;\n}\n\nfunction saveDevice(device){\n    console.log('mac : '+ device.macAddr);\n    console.log('data : '+ device.data);\n    console.log('recv_at : '+ device.recv_at);\n    deviceDbTools.saveDevice(device.macAddr,device.data,device.recv_at,function(err,info){\n        console.log('Debug save Device -----------------------------');\n        if(err){\n            console.log('Debug save Device fail : '+err);\n            return;\n        }\n        console.log('Debug save Device success ');\n        console.log('Debug info.voltage : '+info.data4);\n    });\n    delDeviceById(device._id);\n}\n\nfunction delDeviceById(device){\n    var _id = device._id;\n    console.log('_id : '+ _id);\n    deviceDbTools.removeDeviceById(_id,function(err,result){\n        console.log('Debug remove Device By Id -----------------------------');\n        if(err){\n            console.log('Debug remove Device By Id fail : '+err);\n        }\n        console.log('Debug remove Device By Id success ');\n    });\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":379.8125,"y":166.81875610351562,"wires":[[]]},{"id":"8ba538e1.07da38","type":"inject","z":"a6c4d10b.73a6d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147.50624084472656,"y":159.37498474121094,"wires":[["6377adb1.e11024"]]}]