.nodered/flows_Jason-PC.json
[{"id":"64f43a63.b00ac4","type":"tab","label":"Flow 1"},{"id":"23b9fda3.6642d2","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f62a0128.681c4","type":"mqtt-broker","z":"","broker":"emqs-blazing.giotgateway.com ","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2ed0cfc0.0ce74","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"e38acc1e.d8ae5","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"abcef810.15ba48","type":"template","z":"64f43a63.b00ac4","name":"PIR html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery-ui-->\n    <link href=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css\" rel=\"stylesheet\">\n    <!-- jquery.dataTables-->\n    <link href=\"https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n     <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"//code.jquery.com/jquery-1.12.4.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 -->\n    <script type=\"text/javascript\" src=\"//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"\\assets\\js\\bootstrap-waitingfor.min.js\"></script>\n    <style type=\"text/css\">\n        .iconStyle {\n          width: 240px;\n          height: 120px;\n          background-color:#42566A;\n          margin-bottom: 10px;\n        }\n        .btnStyle {\n          background-color: #507187;\n          width: 200px;\n          height: 80px;\n          margin-left: auto;\n          margin-right: auto;\n          margin-bottom: 10px;\n        }\n        .btnStyle:active{\n          background-color:#89AAC0;\n        }\n        .btnStyle:focus{\n          background-color:#89AAC0;\n        }\n        .btnIcon{\n          width: 40px;\n          height: 25px;\n          margin-left: auto;\n          margin-right: auto;\n        }\n        .limitStyle {\n          width: 160px;\n          height: 80px;\n          background-color:#42566A;\n          margin-top: 350px;\n        }\n        .logoStyle {\n          width: 200px;\n          height: 60px;\n          margin-top: 10px;\n          margin-bottom: 10px;\n        }\n\n    </style>\n\n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n      console.log(\"Node admin device information\");\n      var connected = false;\n      var table;\n      if(location.protocol==\"https:\"){\n        var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/devices\";\n      } else {\n        var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/devices\";\n      }\n      var ws=null;\n\n      function wsConn() {\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function(m) {\n          //console.log('< from-node-red:',m.data);\n          if (typeof(m.data) === \"string\" && m. data !== null){\n            var msg =JSON.parse(m.data);\n            console.log(\"from-node-red : id:\"+msg.id);\n            if(msg.id === 'change_table'){\n                //Remove init button active\n                console.log(\"v : \"+msg.v);\n\n                //Reload table data\n                //console.log(\"v type:\"+typeof(msg.v));\n                table = $('#table1').dataTable();\n                table.fnClearTable();\n                var data = JSON.parse(msg.v);\n                console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                if(data){\n                    table.fnAddData(data);\n                    table.$('tr').click(function() {\n                    var row=table.fnGetData(this);\n                        toSecondTable(row[1]);\n                    });\n                }\n                waitingDialog.hide();\n            }else if(msg.id === 'init_btn'){\n                //Set init button active\n                console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n                type = msg.v;\n              }\n          }\n        }\n        ws.onopen = function() {\n          var type ='{{{payload.type}}}';\n          var mac  ='{{{payload.mac}}}';\n          var date  ='{{{payload.date}}}';\n          //alert('date :'+ date);\n          connected = true;\n          var obj = {\"id\":\"init\",\"v\":{type:type,mac:mac,date:date}};\n          var getRequest = JSON.stringify(obj);\n          console.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n          console.log(\"ws.onopen : \"+ getRequest);\n          ws.send(getRequest);      // Request ui status from NR\n          console.log(getRequest);\n\n        }\n        ws.onclose   = function()  {\n          console.log('Node-RED connection closed: '+new Date().toUTCString());\n          connected = false;\n          ws = null;\n        }\n        ws.onerror  = function(){\n          console.log(\"connection error\");\n        }\n      }\n      wsConn();           // connect to Node-RED server\n\n      function setButton(_id,_v){ // update slider\n        myselect = $(\"#\"+_id);\n         myselect.val(_v);\n         myselect.slider('refresh');\n      }\n\n      function myFunction(id){  // update device\n        console.log(id);\n        if(ws){\n            console.log(\"ws.onopen OK \");\n        }\n        //console.log(\"id type : \"+ typeof(id)+\" : \"+id);\n        var obj = {\"id\":\"change_type\",\"v\":id};\n        var objString = JSON.stringify(obj);\n        //console.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n        //console.log(\"ws.onopen : \"+ objString);\n        ws.send(objString);     // Request ui status from NR\n        console.log(\"sent change_type requeset\");\n\n      }\n\n      function toSecondTable(mac){\n          //alert(\"mac : \"+mac);\n          //document.location.href=\"/device?mac=\"+mac;\n      }\n\n      function showDialog(){\n          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});\n          waitingDialog.show();\n          setTimeout(function () {\n            waitingDialog.hide();\n            }, 10000);\n      }\n\n\n      $(document).ready(function(){\n          showDialog();\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n                  },dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n           };\n          //$(\"#table1\").dataTable(opt); //中文化\n          table = table = $('#table1').DataTable({\n                    dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        //'excelHtml5',\n                        'csvHtml5',\n                        //'pdfHtml5'\n                    ]\n                } );\n\n          /*table.$('tr').click(function() {\n              var row=table.fnGetData(this);\n              toSecondTable(row[1]);\n\n          });\n\n           $(\"#table1\").on({\n                mouseenter: function(){\n                 //stuff to do on mouse enter\n\n                 $(this).css({'color':'blue'});\n                 },\n                 mouseleave: function () {\n                 //stuff to do on mouse leave\n                 $(this).css({'color':'black'});\n            }},'tr');*/\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <!--<a class=\"navbar-brand\" href=\"/tools\">Node admin</a>-->\n\n            </div>\n\n            <!--<div style=\"padding: 15px 50px 5px 50px;float: right;\">\n                <ul class=\"user-menu\">\n          <li class=\"dropdown pull-right\">\n            <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n            <span class=\"caret\"></span></a>\n            <ul class=\"dropdown-menu\" role=\"menu\">\n              <li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n              <li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n              <li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n            </ul>\n          </li>\n        </ul>\n            </div>-->\n\n        </nav>\n           <!-- /. NAV TOP  -->\n        <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n          <div class=\"sidebar-collapse\">\n              <img src=\"assets/img/ST2.png\" class=\"center-block iconStyle\"/>\n              <ul class=\"nav\" id=\"main-menu\">\n                  <li>\n                    <button id=\"pir\" name=\"pir\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI1n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">PIR&nbsp&nbsp&nbsp&nbsp&nbsp</label>\n                    </button>\n                  </li>\n\n                  <!--<li>\n                      <button id=\"gps\" name=\"gps\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI2n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">Tracker</label>\n                    </button>\n                  </li>\n\n                  <li>\n                    <button id=\"pm25\" name=\"pm25\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI3n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspPM2.5&nbsp&nbsp</label>\n                    </button>\n                  </li>\n\n                  <li>\n                      <button id=\"flood\" name=\"flood\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI4n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspFlood&nbsp&nbsp</label>\n                  </li>-->\n              </ul>\n              <img src=\"assets/img/Logo2n.png\" class=\"center-block limitStyle\"/>\n          </div>\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n          <div id=\"page-inner\">\n             <div class=\"row\">\n                <div class=\"col-md-12\">\n                    <div class=\"col-md-2\">\n                      <a href=\"/tools\"><span class=\"glyphicon glyphicon-arrow-left\"></span> Back</a>\n                    </div>\n\n\n                    <div class=\"col-md-10\">\n                        <img src=\"assets/img/Logo1n.png\" class=\"center-block logoStyle\"/>\n\n                    </div>\n                    <div class=\"col-md-12\">\n                        <h2><span id=\"device_mac\">{{{payload.typeStr}}}:{{{payload.mac}}}</span></h2>\n                    </div>\n\n                    <div class=\"col-md-12 column\">\n\n                      <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n                                  <thead>\n                                      <tr style=\"color:#428bca\">\n                                        <th>Item</th>\n                                        <th>Receive time</th>\n                                        <th>Data</th>\n                                        <th>Trigger</th>\n                                        <th>UL Rss</th>\n                                        <th>UL SNR</th>\n                                        <th>UL SF</th>\n                                        <th>Channel</th>\n                                        <th>ApId</th>\n                                      </tr>\n                                  </thead>\n                                  <tbody>\n\n                                      <tr>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                        <td></td>\n                                      </tr>\n\n                                  </tbody>\n                              </table>\n                    </div>\n                </div>\n          </div>\n          <!-- /. ROW  -->\n        </div>\n        <!-- /. PAGE INNER  -->\n      </div>\n      <!-- /. PAGE WRAPPER  -->\n    </div>\n    <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":790,"y":240,"wires":[["fafc8bb0.03d2a8"]]},{"id":"7b67c94.4cc2f38","type":"websocket in","z":"64f43a63.b00ac4","name":"web socket tools - in","server":"2ed0cfc0.0ce74","client":"","x":145,"y":100,"wires":[["cd73ace2.1a37f"]]},{"id":"cd73ace2.1a37f","type":"function","z":"64f43a63.b00ac4","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    if(context.global.selectedType){\n\t    msg.payload = {id:\"init_btn\", v: context.global.selectedType };\n    }else{\n        msg.payload = {id:\"init_btn\", v: \"pir\" };\n    }\n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":410,"y":100,"wires":[["2a4d1e44.0402f2"],["a0c57bdd.abd068"]]},{"id":"4a8c9208.45de7c","type":"function","z":"64f43a63.b00ac4","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":140,"wires":[["2a4d1e44.0402f2"]]},{"id":"2a4d1e44.0402f2","type":"websocket out","z":"64f43a63.b00ac4","name":"web socket mobiUI - out","server":"2ed0cfc0.0ce74","client":"","x":1320,"y":80,"wires":[]},{"id":"52a4d5e6.6cf96c","type":"comment","z":"64f43a63.b00ac4","name":"Listen /ws/tools","info":"","x":110,"y":59,"wires":[]},{"id":"417954ea.16210c","type":"http in","z":"64f43a63.b00ac4","name":"devices","url":"/devices","method":"get","swaggerDoc":"","x":70,"y":320,"wires":[["87d6563c.b50858"]]},{"id":"e61601e5.6939b","type":"template","z":"64f43a63.b00ac4","name":"Tracker html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery-ui-->\n    <link href=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css\" rel=\"stylesheet\">\n    <!-- jquery.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/media/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/extensions/Buttons/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n     <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"/assets/js/jquery-1.12.4.min.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/media/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.min.js\"></script>\n    <!-- Button flash-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.flash.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 fix chinese garbled-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.html5.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"/assets/js/bootstrap-waitingfor.min.js\"></script>\n    <style type=\"text/css\">\n        .iconStyle {\n          width: 240px;\n          height: 120px;\n          background-color:#42566A;\n          margin-bottom: 10px;\n        }\n        .btnStyle {\n          background-color: #507187;\n          width: 200px;\n          height: 80px;\n          margin-left: auto;\n          margin-right: auto;\n          margin-bottom: 10px;\n        }\n        .btnStyle:active{\n          background-color:#89AAC0;\n        }\n        .btnStyle:focus{\n          background-color:#89AAC0;\n        }\n        .btnIcon{\n          width: 40px;\n          height: 25px;\n          margin-left: auto;\n          margin-right: auto;\n        }\n        .limitStyle {\n          width: 160px;\n          height: 80px;\n          background-color:#42566A;\n          margin-top: 350px;\n        }\n        .logoStyle {\n          width: 200px;\n          height: 60px;\n          margin-top: 10px;\n          margin-bottom: 10px;\n        }\n\n    </style>\n\n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n      console.log(\"Node admin device information\");\n      var connected = false;\n      var table;\n      if(location.protocol==\"https:\"){\n        var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/devices\";\n      } else {\n        var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/devices\";\n      }\n      var ws=null;\n\n      function wsConn() {\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function(m) {\n          //console.log('< from-node-red:',m.data);\n          if (typeof(m.data) === \"string\" && m. data !== null){\n            var msg =JSON.parse(m.data);\n            console.log(\"from-node-red : id:\"+msg.id);\n            if(msg.id === 'change_table'){\n                //Remove init button active\n                console.log(\"v : \"+msg.v);\n\n                //Reload table data\n                //console.log(\"v type:\"+typeof(msg.v));\n                table = $('#table1').dataTable();\n                table.fnClearTable();\n                var data = JSON.parse(msg.v);\n                console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                if(data){\n                    table.fnAddData(data);\n                    table.$('tr').click(function() {\n                    var row=table.fnGetData(this);\n                        toSecondTable(row[1]);\n                    });\n                }\n                waitingDialog.hide();\n            }else if(msg.id === 'init_btn'){\n                //Set init button active\n                console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n                type = msg.v;\n              }\n          }\n        }\n        ws.onopen = function() {\n          var type ='{{{payload.type}}}';\n          var mac  ='{{{payload.mac}}}';\n          var date  ='{{{payload.date}}}';\n          //alert('date :'+ date);\n          connected = true;\n          var obj = {\"id\":\"init\",\"v\":{type:type,mac:mac,date:date}};\n          var getRequest = JSON.stringify(obj);\n          console.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n          console.log(\"ws.onopen : \"+ getRequest);\n          ws.send(getRequest);      // Request ui status from NR\n          console.log(getRequest);\n\n        }\n        ws.onclose   = function()  {\n          console.log('Node-RED connection closed: '+new Date().toUTCString());\n          connected = false;\n          ws = null;\n        }\n        ws.onerror  = function(){\n          console.log(\"connection error\");\n        }\n      }\n      wsConn();           // connect to Node-RED server\n\n      function setButton(_id,_v){ // update slider\n        myselect = $(\"#\"+_id);\n         myselect.val(_v);\n         myselect.slider('refresh');\n      }\n\n      function myFunction(id){  // update device\n        console.log(id);\n        if(ws){\n            console.log(\"ws.onopen OK \");\n        }\n        //console.log(\"id type : \"+ typeof(id)+\" : \"+id);\n        var obj = {\"id\":\"change_type\",\"v\":id};\n        var objString = JSON.stringify(obj);\n        //console.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n        //console.log(\"ws.onopen : \"+ objString);\n        ws.send(objString);     // Request ui status from NR\n        console.log(\"sent change_type requeset\");\n\n      }\n\n      function toSecondTable(mac){\n          //alert(\"mac : \"+mac);\n          //document.location.href=\"/device?mac=\"+mac;\n      }\n\n      function showDialog(){\n          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});\n          waitingDialog.show();\n          setTimeout(function () {\n            waitingDialog.hide();\n            }, 10000);\n      }\n\n\n      $(document).ready(function(){\n          showDialog();\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n                  },dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n           };\n          //$(\"#table1\").dataTable(opt); //中文化\n          table = table = $('#table1').DataTable({\n                    dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        //'excelHtml5',\n                        'csvHtml5',\n                        //'pdfHtml5'\n                    ]\n                } );\n\n          /*table.$('tr').click(function() {\n              var row=table.fnGetData(this);\n              toSecondTable(row[1]);\n\n          });\n\n           $(\"#table1\").on({\n                mouseenter: function(){\n                 //stuff to do on mouse enter\n\n                 $(this).css({'color':'blue'});\n                 },\n                 mouseleave: function () {\n                 //stuff to do on mouse leave\n                 $(this).css({'color':'black'});\n            }},'tr');*/\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <!--<a class=\"navbar-brand\" href=\"/tools\">Node admin</a>-->\n\n            </div>\n\n            <!--<div style=\"padding: 15px 50px 5px 50px;float: right;\">\n                <ul class=\"user-menu\">\n          <li class=\"dropdown pull-right\">\n            <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n            <span class=\"caret\"></span></a>\n            <ul class=\"dropdown-menu\" role=\"menu\">\n              <li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n              <li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n              <li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n            </ul>\n          </li>\n        </ul>\n            </div>-->\n\n        </nav>\n           <!-- /. NAV TOP  -->\n        <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n          <div class=\"sidebar-collapse\">\n              <img src=\"assets/img/ST2.png\" class=\"center-block iconStyle\"/>\n              <ul class=\"nav\" id=\"main-menu\">\n                  <li>\n                    <button id=\"gps\" name=\"gps\" class=\"center-block btnStyle\">\n                      <img src=\"assets/img/STI2n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">Tracker</label>\n                    </button>\n                  </li>\n\n                  <!--<li>\n                      <button id=\"gps\" name=\"gps\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI2n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">Tracker</label>\n                    </button>\n                  </li>\n\n                  <li>\n                    <button id=\"pm25\" name=\"pm25\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI3n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspPM2.5&nbsp&nbsp</label>\n                    </button>\n                  </li>\n\n                  <li>\n                      <button id=\"flood\" name=\"flood\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI4n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspFlood&nbsp&nbsp</label>\n                  </li>-->\n              </ul>\n              <img src=\"assets/img/Logo2n.png\" class=\"center-block limitStyle\"/>\n          </div>\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n          <div id=\"page-inner\">\n             <div class=\"row\">\n                <div class=\"col-md-12\">\n                    <div class=\"col-md-2\">\n                      <a href=\"/tools\"><span class=\"glyphicon glyphicon-arrow-left\"></span> Back</a>\n                    </div>\n\n\n                    <div class=\"col-md-10\">\n                        <img src=\"assets/img/Logo1n.png\" class=\"center-block logoStyle\"/>\n\n                    </div>\n                    <div class=\"col-md-12\">\n                        <h2><span id=\"device_mac\">{{{payload.typeStr}}}:{{{payload.mac}}}</span></h2>\n                    </div>\n\n                    <div class=\"col-md-12 column\">\n\n                      <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n                        <thead>\n                              <tr style=\"color:#428bca\">\n                                <th>Item</th>\n                                <th>Receive time</th>\n                                <th>Data</th>\n                                <th>Latitude</th>\n                                <th>Longitude</th>\n                                <th>GPS time</th>\n                                <th>UL Rss</th>\n                                <th>UL SNR</th>\n                                <th>UL SF</th>\n                                <th>Channel</th>\n                                <th>ApId</th>\n                              </tr>\n                          </thead>\n                          <tbody>\n\n                              <tr>\n                                <td></td>\n                                <td></td>\n                                <td></td>\n                                <td></td>\n                                <td></td>\n                                <td></td>\n                                <td></td>\n                                <td></td>\n                                <td></td>\n                                <td></td>\n                                <td></td>\n                              </tr>\n\n                          </tbody>\n                    </table>\n                    </div>\n                </div>\n          </div>\n          <!-- /. ROW  -->\n        </div>\n        <!-- /. PAGE INNER  -->\n      </div>\n      <!-- /. PAGE WRAPPER  -->\n    </div>\n    <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":810,"y":280,"wires":[["fafc8bb0.03d2a8"]]},{"id":"fafc8bb0.03d2a8","type":"http response","z":"64f43a63.b00ac4","name":"","x":1020,"y":280,"wires":[]},{"id":"f853481b.7d3a58","type":"websocket out","z":"64f43a63.b00ac4","name":"web socket mobiUI - out","server":"e38acc1e.d8ae5","client":"","x":1280,"y":540,"wires":[]},{"id":"5bea9f49.da895","type":"websocket in","z":"64f43a63.b00ac4","name":"web socket tools - in","server":"e38acc1e.d8ae5","client":"","x":120,"y":580,"wires":[["72be1fa1.0243e"]]},{"id":"9c13b18d.3d10d","type":"comment","z":"64f43a63.b00ac4","name":"Listen /ws/devices","info":"","x":110,"y":540,"wires":[]},{"id":"3eeaadfd.cf09a2","type":"comment","z":"64f43a63.b00ac4","name":"Listen /devices","info":"","x":100,"y":280,"wires":[]},{"id":"87d6563c.b50858","type":"function","z":"64f43a63.b00ac4","name":"Get type & mac","func":"//node.warn(JSON.stringify(msg.req.query.mac));\nvar mac = msg.req.query.mac;\nvar type = msg.req.query.type;\nvar date = msg.req.query.date;\ncontext.global.selectedMac = mac;\nmsg.payload.mac = mac;\nif(type === 'pir'){\n    msg.payload.typeStr = 'PIR';\n}else if(type === 'gps'){\n    msg.payload.typeStr = 'Tracker';\n}else if(type === 'flood'){\n    msg.payload.typeStr = 'Flood';\n}else if(type === 'pm25'){\n    msg.payload.typeStr = 'PM2.5';\n}\nmsg.payload.type = type;\nmsg.payload.date = date;\nnode.warn('$$$$ msg.payload : '+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":320,"wires":[["16b5a065.9455f"]]},{"id":"16b5a065.9455f","type":"switch","z":"64f43a63.b00ac4","name":"Type Switch","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"pir","vt":"str"},{"t":"eq","v":"gps","vt":"str"},{"t":"eq","v":"pm25","vt":"str"},{"t":"eq","v":"flood","vt":"str"}],"checkall":"true","outputs":4,"x":530,"y":320,"wires":[["abcef810.15ba48"],["e61601e5.6939b"],["7eb1cf1.489053"],["8dbe76c1.2ceac8"]]},{"id":"7eb1cf1.489053","type":"template","z":"64f43a63.b00ac4","name":"PM2.5 html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery-ui-->\n    <link href=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css\" rel=\"stylesheet\">\n    <!-- jquery.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/media/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/extensions/Buttons/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n     <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"/assets/js/jquery-1.12.4.min.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/media/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.min.js\"></script>\n    <!-- Button flash-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.flash.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 fix chinese garbled-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.html5.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"/assets/js/bootstrap-waitingfor.min.js\"></script>\n    <style type=\"text/css\">\n        .iconStyle {\n          width: 240px;\n          height: 120px;\n          background-color:#42566A;\n          margin-bottom: 10px;\n        }\n        .btnStyle {\n          background-color: #507187;\n          width: 200px;\n          height: 80px;\n          margin-left: auto;\n          margin-right: auto;\n          margin-bottom: 10px;\n        }\n        .btnStyle:active{\n          background-color:#89AAC0;\n        }\n        .btnStyle:focus{\n          background-color:#89AAC0;\n        }\n        .btnIcon{\n          width: 40px;\n          height: 25px;\n          margin-left: auto;\n          margin-right: auto;\n        }\n        .limitStyle {\n          width: 160px;\n          height: 80px;\n          background-color:#42566A;\n          margin-top: 350px;\n        }\n        .logoStyle {\n          width: 200px;\n          height: 60px;\n          margin-top: 10px;\n          margin-bottom: 10px;\n        }\n\n    </style>\n\n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n      console.log(\"Node admin device information\");\n      var connected = false;\n      var table;\n      if(location.protocol==\"https:\"){\n        var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/devices\";\n      } else {\n        var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/devices\";\n      }\n      var ws=null;\n\n      function wsConn() {\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function(m) {\n          //console.log('< from-node-red:',m.data);\n          if (typeof(m.data) === \"string\" && m. data !== null){\n            var msg =JSON.parse(m.data);\n            console.log(\"from-node-red : id:\"+msg.id);\n            if(msg.id === 'change_table'){\n                //Remove init button active\n                console.log(\"v : \"+msg.v);\n\n                //Reload table data\n                //console.log(\"v type:\"+typeof(msg.v));\n                table = $('#table1').dataTable();\n                table.fnClearTable();\n                var data = JSON.parse(msg.v);\n                console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                if(data){\n                    table.fnAddData(data);\n                    table.$('tr').click(function() {\n                    var row=table.fnGetData(this);\n                        toSecondTable(row[1]);\n                    });\n                }\n                waitingDialog.hide();\n            }else if(msg.id === 'init_btn'){\n                //Set init button active\n                console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n                type = msg.v;\n              }\n          }\n        }\n        ws.onopen = function() {\n          var type ='{{{payload.type}}}';\n          var mac  ='{{{payload.mac}}}';\n          var date  ='{{{payload.date}}}';\n          //alert('date :'+ date);\n          connected = true;\n          var obj = {\"id\":\"init\",\"v\":{type:type,mac:mac,date:date}};\n          var getRequest = JSON.stringify(obj);\n          console.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n          console.log(\"ws.onopen : \"+ getRequest);\n          ws.send(getRequest);      // Request ui status from NR\n          console.log(getRequest);\n\n        }\n        ws.onclose   = function()  {\n          console.log('Node-RED connection closed: '+new Date().toUTCString());\n          connected = false;\n          ws = null;\n        }\n        ws.onerror  = function(){\n          console.log(\"connection error\");\n        }\n      }\n      wsConn();           // connect to Node-RED server\n\n      function setButton(_id,_v){ // update slider\n        myselect = $(\"#\"+_id);\n         myselect.val(_v);\n         myselect.slider('refresh');\n      }\n\n      function myFunction(id){  // update device\n        console.log(id);\n        if(ws){\n            console.log(\"ws.onopen OK \");\n        }\n        //console.log(\"id type : \"+ typeof(id)+\" : \"+id);\n        var obj = {\"id\":\"change_type\",\"v\":id};\n        var objString = JSON.stringify(obj);\n        //console.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n        //console.log(\"ws.onopen : \"+ objString);\n        ws.send(objString);     // Request ui status from NR\n        console.log(\"sent change_type requeset\");\n\n      }\n\n      function toSecondTable(mac){\n          //alert(\"mac : \"+mac);\n          //document.location.href=\"/device?mac=\"+mac;\n      }\n\n      function showDialog(){\n          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});\n          waitingDialog.show();\n          setTimeout(function () {\n            waitingDialog.hide();\n            }, 10000);\n      }\n\n\n      $(document).ready(function(){\n          showDialog();\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n                  },dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n           };\n          //$(\"#table1\").dataTable(opt); //中文化\n          table = table = $('#table1').DataTable({\n                    dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        //'excelHtml5',\n                        'csvHtml5',\n                        //'pdfHtml5'\n                    ]\n                } );\n\n          /*table.$('tr').click(function() {\n              var row=table.fnGetData(this);\n              toSecondTable(row[1]);\n\n          });\n\n           $(\"#table1\").on({\n                mouseenter: function(){\n                 //stuff to do on mouse enter\n\n                 $(this).css({'color':'blue'});\n                 },\n                 mouseleave: function () {\n                 //stuff to do on mouse leave\n                 $(this).css({'color':'black'});\n            }},'tr');*/\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <!--<a class=\"navbar-brand\" href=\"/tools\">Node admin</a>-->\n\n            </div>\n\n            <!--<div style=\"padding: 15px 50px 5px 50px;float: right;\">\n                <ul class=\"user-menu\">\n          <li class=\"dropdown pull-right\">\n            <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n            <span class=\"caret\"></span></a>\n            <ul class=\"dropdown-menu\" role=\"menu\">\n              <li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n              <li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n              <li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n            </ul>\n          </li>\n        </ul>\n            </div>-->\n\n        </nav>\n           <!-- /. NAV TOP  -->\n        <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n          <div class=\"sidebar-collapse\">\n              <img src=\"assets/img/ST2.png\" class=\"center-block iconStyle\"/>\n              <ul class=\"nav\" id=\"main-menu\">\n                  <li>\n                    <button id=\"pm25\" name=\"pm25\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI3n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspPM2.5&nbsp&nbsp</label>\n                    </button>\n                  </li>\n\n                  <!--<li>\n                      <button id=\"gps\" name=\"gps\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI2n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">Tracker</label>\n                    </button>\n                  </li>\n\n                  <li>\n                    <button id=\"pm25\" name=\"pm25\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI3n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspPM2.5&nbsp&nbsp</label>\n                    </button>\n                  </li>\n\n                  <li>\n                      <button id=\"flood\" name=\"flood\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI4n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspFlood&nbsp&nbsp</label>\n                  </li>-->\n              </ul>\n              <img src=\"assets/img/Logo2n.png\" class=\"center-block limitStyle\"/>\n          </div>\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n          <div id=\"page-inner\">\n             <div class=\"row\">\n                <div class=\"col-md-12\">\n                    <div class=\"col-md-2\">\n                      <a href=\"/tools\"><span class=\"glyphicon glyphicon-arrow-left\"></span> Back</a>\n                    </div>\n\n\n                    <div class=\"col-md-10\">\n                        <img src=\"assets/img/Logo1n.png\" class=\"center-block logoStyle\"/>\n\n                    </div>\n                    <div class=\"col-md-12\">\n                        <h2><span id=\"device_mac\">{{{payload.typeStr}}}:{{{payload.mac}}}</span></h2>\n                    </div>\n\n                    <div class=\"col-md-12 column\">\n\n                      <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n                        <thead>\n                            <tr style=\"color:#428bca\">\n                              <th>Item</th>\n                              <th>Receive time</th>\n                              <th>Data</th>\n                              <th>Value</th>\n                              <th>BATL</th>\n                              <th>UL Rss</th>\n                              <th>UL SNR</th>\n                              <th>UL SF</th>\n                              <th>Channel</th>\n                              <th>ApId</th>\n                            </tr>\n                        </thead>\n                        <tbody>\n\n                            <tr>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                            </tr>\n\n                        </tbody>\n                    </table>\n                    </div>\n                </div>\n          </div>\n          <!-- /. ROW  -->\n        </div>\n        <!-- /. PAGE INNER  -->\n      </div>\n      <!-- /. PAGE WRAPPER  -->\n    </div>\n    <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":800,"y":320,"wires":[["fafc8bb0.03d2a8"]]},{"id":"8dbe76c1.2ceac8","type":"template","z":"64f43a63.b00ac4","name":"Flood html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"/assets/css/bootstrap.css\" rel=\"stylesheet\" />\n     <!-- FONTAWESOME STYLES-->\n    <link href=\"/assets/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"/assets/css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery-ui-->\n    <link href=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css\" rel=\"stylesheet\">\n    <!-- jquery.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/media/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/extensions/Buttons/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n     <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"/assets/js/jquery-1.12.4.min.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"/assets/js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"/assets/js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"/assets/js/custom.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/media/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.min.js\"></script>\n    <!-- Button flash-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.flash.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 fix chinese garbled-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.html5.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"/assets/js/bootstrap-waitingfor.min.js\"></script>\n    <style type=\"text/css\">\n        .iconStyle {\n          width: 240px;\n          height: 120px;\n          background-color:#42566A;\n          margin-bottom: 10px;\n        }\n        .btnStyle {\n          background-color: #507187;\n          width: 200px;\n          height: 80px;\n          margin-left: auto;\n          margin-right: auto;\n          margin-bottom: 10px;\n        }\n        .btnStyle:active{\n          background-color:#89AAC0;\n        }\n        .btnStyle:focus{\n          background-color:#89AAC0;\n        }\n        .btnIcon{\n          width: 40px;\n          height: 25px;\n          margin-left: auto;\n          margin-right: auto;\n        }\n        .limitStyle {\n          width: 160px;\n          height: 80px;\n          background-color:#42566A;\n          margin-top: 350px;\n        }\n        .logoStyle {\n          width: 200px;\n          height: 60px;\n          margin-top: 10px;\n          margin-bottom: 10px;\n        }\n\n    </style>\n\n    <script>//Node-Red mobi ui - LHG industrialinternet.co.uk\n      console.log(\"Node admin device information\");\n      var connected = false;\n      var table;\n      if(location.protocol==\"https:\"){\n        var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/devices\";\n      } else {\n        var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/devices\";\n      }\n      var ws=null;\n\n      function wsConn() {\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function(m) {\n          //console.log('< from-node-red:',m.data);\n          if (typeof(m.data) === \"string\" && m. data !== null){\n            var msg =JSON.parse(m.data);\n            console.log(\"from-node-red : id:\"+msg.id);\n            if(msg.id === 'change_table'){\n                //Remove init button active\n                console.log(\"v : \"+msg.v);\n\n                //Reload table data\n                //console.log(\"v type:\"+typeof(msg.v));\n                table = $('#table1').dataTable();\n                table.fnClearTable();\n                var data = JSON.parse(msg.v);\n                console.log(\"addData type : \"+ typeof(data)+\" : \"+data);\n                if(data){\n                    table.fnAddData(data);\n                    table.$('tr').click(function() {\n                    var row=table.fnGetData(this);\n                        toSecondTable(row[1]);\n                    });\n                }\n                waitingDialog.hide();\n            }else if(msg.id === 'init_btn'){\n                //Set init button active\n                console.log(\"type:\"+typeof(msg.v)+\" = \"+ msg.v);\n                type = msg.v;\n              }\n          }\n        }\n        ws.onopen = function() {\n          var type ='{{{payload.type}}}';\n          var mac  ='{{{payload.mac}}}';\n          var date  ='{{{payload.date}}}';\n          //alert('date :'+ date);\n          connected = true;\n          var obj = {\"id\":\"init\",\"v\":{type:type,mac:mac,date:date}};\n          var getRequest = JSON.stringify(obj);\n          console.log(\"getRequest type : \"+ typeof(getRequest)+\" : \"+getRequest);\n          console.log(\"ws.onopen : \"+ getRequest);\n          ws.send(getRequest);      // Request ui status from NR\n          console.log(getRequest);\n\n        }\n        ws.onclose   = function()  {\n          console.log('Node-RED connection closed: '+new Date().toUTCString());\n          connected = false;\n          ws = null;\n        }\n        ws.onerror  = function(){\n          console.log(\"connection error\");\n        }\n      }\n      wsConn();           // connect to Node-RED server\n\n      function setButton(_id,_v){ // update slider\n        myselect = $(\"#\"+_id);\n         myselect.val(_v);\n         myselect.slider('refresh');\n      }\n\n      function myFunction(id){  // update device\n        console.log(id);\n        if(ws){\n            console.log(\"ws.onopen OK \");\n        }\n        //console.log(\"id type : \"+ typeof(id)+\" : \"+id);\n        var obj = {\"id\":\"change_type\",\"v\":id};\n        var objString = JSON.stringify(obj);\n        //console.log(\"getRequest type : \"+ typeof(objString)+\" : \"+objString);\n        //console.log(\"ws.onopen : \"+ objString);\n        ws.send(objString);     // Request ui status from NR\n        console.log(\"sent change_type requeset\");\n\n      }\n\n      function toSecondTable(mac){\n          //alert(\"mac : \"+mac);\n          //document.location.href=\"/device?mac=\"+mac;\n      }\n\n      function showDialog(){\n          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});\n          waitingDialog.show();\n          setTimeout(function () {\n            waitingDialog.hide();\n            }, 10000);\n      }\n\n\n      $(document).ready(function(){\n          showDialog();\n          var opt={\"oLanguage\":{\"sProcessing\":\"處理中...\",\n                  \"sLengthMenu\":\"顯示 _MENU_ 項結果\",\n                  \"sZeroRecords\":\"沒有匹配結果\",\n                  \"sInfo\":\"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項\",\n                  \"sInfoEmpty\":\"顯示第 0 至 0 項結果，共 0 項\",\n                  \"sInfoFiltered\":\"(從 _MAX_ 項結果過濾)\",\n                  \"sSearch\":\"搜索:\",\n                  \"oPaginate\":{\"sFirst\":\"首頁\",\n                               \"sPrevious\":\"上頁\",\n                               \"sNext\":\"下頁\",\n                               \"sLast\":\"尾頁\"}\n                  },dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        'excelHtml5',\n                        'csvHtml5',\n                        'pdfHtml5'\n                    ]\n           };\n          //$(\"#table1\").dataTable(opt); //中文化\n          table = table = $('#table1').DataTable({\n                    dom: 'Blrtip',\n                    buttons: [\n                        'copyHtml5',\n                        //'excelHtml5',\n                        'csvHtml5',\n                        //'pdfHtml5'\n                    ]\n                } );\n\n          /*table.$('tr').click(function() {\n              var row=table.fnGetData(this);\n              toSecondTable(row[1]);\n\n          });\n\n           $(\"#table1\").on({\n                mouseenter: function(){\n                 //stuff to do on mouse enter\n\n                 $(this).css({'color':'blue'});\n                 },\n                 mouseleave: function () {\n                 //stuff to do on mouse leave\n                 $(this).css({'color':'black'});\n            }},'tr');*/\n\n      });\n\n  </script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <!--<a class=\"navbar-brand\" href=\"/tools\">Node admin</a>-->\n\n            </div>\n\n            <!--<div style=\"padding: 15px 50px 5px 50px;float: right;\">\n                <ul class=\"user-menu\">\n          <li class=\"dropdown pull-right\">\n            <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\"><span class=\"glyphicon glyphicon-user\"></span>\n\n            <span class=\"caret\"></span></a>\n            <ul class=\"dropdown-menu\" role=\"menu\">\n              <li><a href=\"/info\"><span class=\"glyphicon glyphicon-user\"></span> 帳號資訊</a></li>\n              <li><a href=\"/account\"><span class=\"glyphicon glyphicon-cog\"></span> 帳戶管理</a></li>\n              <li><a href=\"/logout\"><span class=\"glyphicon glyphicon-log-out\"></span> 登出</a></li>\n            </ul>\n          </li>\n        </ul>\n            </div>-->\n\n        </nav>\n           <!-- /. NAV TOP  -->\n        <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n          <div class=\"sidebar-collapse\">\n              <img src=\"assets/img/ST2.png\" class=\"center-block iconStyle\"/>\n              <ul class=\"nav\" id=\"main-menu\">\n                  <li>\n                    <button id=\"flood\" name=\"flood\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI4n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspFlood&nbsp&nbsp</label>\n                    </button>\n                  </li>\n\n                  <!--<li>\n                      <button id=\"gps\" name=\"gps\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI2n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">Tracker</label>\n                    </button>\n                  </li>\n\n                  <li>\n                    <button id=\"pm25\" name=\"pm25\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI3n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspPM2.5&nbsp&nbsp</label>\n                    </button>\n                  </li>\n\n                  <li>\n                      <button id=\"flood\" name=\"flood\" class=\"center-block btnStyle\" onclick=\"myFunction(this.id)\">\n                      <img src=\"assets/img/STI4n.png\" class=\"btnIcon\"/>\n                      <label class=\"fa fa-2x\" style=\"color:#ffffff\">&nbspFlood&nbsp&nbsp</label>\n                  </li>-->\n              </ul>\n              <img src=\"assets/img/Logo2n.png\" class=\"center-block limitStyle\"/>\n          </div>\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n          <div id=\"page-inner\">\n             <div class=\"row\">\n                <div class=\"col-md-12\">\n                    <div class=\"col-md-2\">\n                      <a href=\"/tools\"><span class=\"glyphicon glyphicon-arrow-left\"></span> Back</a>\n                    </div>\n\n\n                    <div class=\"col-md-10\">\n                        <img src=\"assets/img/Logo1n.png\" class=\"center-block logoStyle\"/>\n\n                    </div>\n                    <div class=\"col-md-12\">\n                        <h2><span id=\"device_mac\">{{{payload.typeStr}}}:{{{payload.mac}}}</span></h2>\n                    </div>\n\n                    <div class=\"col-md-12 column\">\n\n                      <table id=\"table1\" class=\"display\" cellspacing=\"0\" width=\"100%\">\n                        <thead>\n                            <tr style=\"color:#428bca\">\n                              <th>Item</th>\n                              <th>Receive time</th>\n                              <th>Data</th>\n                              <th>Trigger</th>\n                              <th>BATL</th>\n                              <th>UL Rss</th>\n                              <th>UL SNR</th>\n                              <th>UL SF</th>\n                              <th>Channel</th>\n                              <th>ApId</th>\n                            </tr>\n                        </thead>\n                        <tbody>\n\n                            <tr>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                              <td></td>\n                            </tr>\n\n                        </tbody>\n                    </table>\n                    </div>\n                </div>\n          </div>\n          <!-- /. ROW  -->\n        </div>\n        <!-- /. PAGE INNER  -->\n      </div>\n      <!-- /. PAGE WRAPPER  -->\n    </div>\n    <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":800,"y":360,"wires":[["fafc8bb0.03d2a8"]]},{"id":"72be1fa1.0243e","type":"function","z":"64f43a63.b00ac4","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":360,"y":580,"wires":[["733df74e.8e2538"]]},{"id":"733df74e.8e2538","type":"function","z":"64f43a63.b00ac4","name":"set index/view","func":"var moment = context.global.momentModule;\nvar isIndex = false;\nvar mac = msg.payload.mac;\nvar date = msg.payload.date;\nvar now = moment().format('YYYY/MM/DD');\n/*if(date === now){\n    var endDate = moment( date).add(1, 'days').format('YYYY/MM/DD');\n}else{\n    var endDate = moment( date).format('YYYY/MM/DD');\n}*/\nvar endDate = moment( date).add(1, 'days').format('YYYY/MM/DD');\nvar startDate = moment( date).subtract(7, 'days').format('YYYY/MM/DD');\n\nvar type = msg.payload.type;\nnode.warn('date:'+endDate+', mac :'+mac);\nvar path = 'http://localhost:5984/blazing/_design/'+type+'/_view/byDate?startkey=\"'+startDate+'\"&endkey=\"'+endDate+'\"';\nnode.warn('path:'+path);\n\nif(isIndex){\n    //indext addres\n    msg.url = \"https://hyper5798.cloudant.com/test/_design/app/_search/searchAll?q=mac:\"+mac+\"*&limit=200\"; \n    node.warn(msg.url);\n    return [msg,null];\n}else{\n    msg.url =  path;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":570,"y":580,"wires":[[],["cda4b6cc.47c7a8"]]},{"id":"5e0f0649.1e4e08","type":"comment","z":"64f43a63.b00ac4","name":"Get Apache Couch DB","info":"取得Apache Couch DB資料庫資料\n資料以view方式取得\nvar total_rows = payload['total_rows'];\nvar rows = payload['rows'];\nvar row = rows[i].value;","x":647,"y":648,"wires":[]},{"id":"787f9877.410cf8","type":"function","z":"64f43a63.b00ac4","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v.mac;\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":490,"y":1400,"wires":[["17829000.81876"]]},{"id":"17829000.81876","type":"function","z":"64f43a63.b00ac4","name":"set url","func":"msg.url = 'http://localhost:5984/test/_design/app/_view/new-view';\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1400,"wires":[["1a0f0af9.0b7065"]]},{"id":"1a0f0af9.0b7065","type":"http request","z":"64f43a63.b00ac4","name":"GET","method":"GET","ret":"txt","url":"","tls":"","x":840,"y":1400,"wires":[["c1ce3477.fef1e8"]]},{"id":"c1ce3477.fef1e8","type":"function","z":"64f43a63.b00ac4","name":"Parse Data","func":"var rows = 0;\nvar test = true;\nvar debug = false;\nvar payload = JSON.parse(msg.payload);\nvar total_rows = payload['total_rows'];\nvar rows = payload['rows'];\n\nconsole.log('%%%%%%%%%%%%% : '+rows.length);\nvar type = context.global.selectedType;\nvar mItem = 1;\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<rows.length;i++)\n{\n  array.push(getArray(type,rows[i].value,mItem));\n  \n  mItem++;\n  if(debug){\n    console.log( i + ': ' + JSON.stringify(rows[i]) );\n    break;\n  }\n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\nif(debug){\n    console.log('**** final array = '+JSON.stringify(array));\n}\n\n//node.warn('PIR Data : '+dataString);\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;\n\n\n//function----------------------------------------\nfunction getArray(type,obj,item){\n    if(debug){\n         console.log('getArray start ------------------------------');\n    }\n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    \n    if(test){\n        arr.push(obj.mac);\n        arr.push(\"\");\n        arr.push(\"\");\n    }else if(type === 'gps'){\n        arr.push(obj.information.GPS_N);\n        arr.push(obj.information.GPS_E);\n        arr.push(\"-\");\n    }else if(type === 'pir' || type === 'flood'){\n        arr.push(obj.information.trigger);\n        arr.push(obj.information.BATL);\n    }else if(type === 'pm25'){\n        arr.push(obj.information.value);\n        arr.push(obj.information.BATL);\n    }\n\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    if(debug){\n         console.log('arr = '+arr.length + '\\n'+JSON.stringify(arr));\n    }\n   \n    return arr ;\n}\n","outputs":1,"noerr":0,"x":1070,"y":1400,"wires":[[]]},{"id":"1b6ab2ee.4283ed","type":"comment","z":"64f43a63.b00ac4","name":"Get Apache Couch DB","info":"取得Apache Couch DB資料庫資料\n資料以view方式取得\nrow = {_id:$id,key:$key,value:result}\ndata = row.value","x":532.4921875,"y":1354.4765625,"wires":[]},{"id":"6b6925d4.47574c","type":"function","z":"64f43a63.b00ac4","name":"Parse(view data)","func":"var rows = 0;\nvar test = false;\nvar debug = false;\nvar mac = context.global.selectedMac;\nvar payload = JSON.parse(msg.payload);\nvar total_rows = payload['total_rows'];\nvar rows = payload['rows'];\nvar arr = [];\nnode.warn('total lengt : '+rows.length);\nfor (var i=rows.length-1;i>-1;i--)\n{\n    if(rows[i].value.mac === mac){\n        arr.push(rows[i].value);\n    }\n    //node.warn('rows[i] : '+ JSON.stringify(rows[i]));\n    //break;\n}\nvar type = context.global.selectedType;\nnode.warn(mac+': Parse(view data) type = '+type+\" , length : \"+arr.length);\n\nvar mItem = 1;\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var i=0;i<arr.length;i++)\n{\n  array.push(getArray(arr[i],mItem));\n  \n  mItem++;\n  if(debug){\n    node.warn( i + ': ' + JSON.stringify(arr[i]) );\n    break;\n  }\n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\nif(debug){\n    console.log('**** final array = '+JSON.stringify(array));\n}\n\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;\n\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    if(debug){\n         console.log('getArray start ------------------------------');\n    }\n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.recv);\n    arr.push(obj.data);\n    \n    if(test){\n        arr.push(obj.mac);\n        arr.push(\"\");\n        arr.push(\"\");\n    }else if(type === 'gps'){\n        arr.push(obj.information.GPS_N);\n        arr.push(obj.information.GPS_E);\n        arr.push(\"-\");\n    }else if(type === 'flood'){\n        arr.push(obj.information.trigger);\n        arr.push(obj.information.BATL);\n    }else if(type === 'pm25'){\n        arr.push(obj.information.value);\n        arr.push(obj.information.BATL);\n    }else if(type === 'pir'){\n        arr.push(obj.information.trigger);\n    }\n\n    arr.push(obj.rssi);\n    arr.push(obj.snr);\n    arr.push(obj.sf);\n    arr.push(obj.channel);\n    arr.push(obj.gwid);\n    if(debug){\n         console.log('arr = '+arr.length + '\\n'+JSON.stringify(arr));\n    }\n   \n    return arr ;\n}\n","outputs":1,"noerr":0,"x":967.9999389648438,"y":634.0000228881836,"wires":[["f853481b.7d3a58"]]},{"id":"cda4b6cc.47c7a8","type":"http request","z":"64f43a63.b00ac4","name":"GET","method":"GET","ret":"txt","url":"","tls":"","x":750,"y":600,"wires":[["6b6925d4.47574c"]]},{"id":"a0c57bdd.abd068","type":"http request","z":"64f43a63.b00ac4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":670,"y":140,"wires":[["4a8c9208.45de7c"]]},{"id":"19bedf85.070be","type":"debug","z":"64f43a63.b00ac4","name":"","active":true,"console":"false","complete":"payload","x":920,"y":180,"wires":[]}]