.nodered/flows_960193-NB01.json
[{"id":"4d747db9.998754","type":"tab","label":"Flow 1"},{"id":"f32c31f0.6320a","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"dd3f1791.4b8ef8","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"7510b717.fb44d8","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"},{"id":"da153382.7d32","type":"websocket in","z":"4d747db9.998754","name":"web socket index - in","server":"f32c31f0.6320a","client":"","x":176.5078125,"y":117.99999618530273,"wires":[["ecaf7f0c.d5a7e"]]},{"id":"ecaf7f0c.d5a7e","type":"function","z":"4d747db9.998754","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":458.95225524902344,"y":135.33332920074463,"wires":[["7b8dc0f0.5cdff"],["141c9d89.934cc2"]]},{"id":"de72cb76.3a6ac8","type":"function","z":"4d747db9.998754","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":905.9522552490234,"y":158,"wires":[["7b8dc0f0.5cdff"]]},{"id":"7b8dc0f0.5cdff","type":"websocket out","z":"4d747db9.998754","name":"web socket mobiUI - out","server":"f32c31f0.6320a","client":"","x":1194.9522552490234,"y":118,"wires":[]},{"id":"caa82fe0.5f326","type":"comment","z":"4d747db9.998754","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":154.95225524902344,"y":71,"wires":[]},{"id":"141c9d89.934cc2","type":"http request","z":"4d747db9.998754","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":665.9522552490234,"y":158,"wires":[["de72cb76.3a6ac8"]]},{"id":"1a97d42a.22aebc","type":"websocket out","z":"4d747db9.998754","name":"web socket mobiUI - out","server":"dd3f1791.4b8ef8","client":"","x":922.9522552490234,"y":364,"wires":[]},{"id":"64900ac0.8e4674","type":"websocket in","z":"4d747db9.998754","name":"web socket tools - in","server":"dd3f1791.4b8ef8","client":"","x":160.28558349609375,"y":279.0000066757202,"wires":[["b058b34d.ff6dd","67d8ff19.36053"]]},{"id":"bc1bcd55.592cc","type":"comment","z":"4d747db9.998754","name":"Listen /ws/devices","info":"","x":146.95225524902344,"y":239,"wires":[]},{"id":"b058b34d.ff6dd","type":"function","z":"4d747db9.998754","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":143.39669799804688,"y":362.99999618530273,"wires":[["d2c9754b.1f08d8"]]},{"id":"67d8ff19.36053","type":"debug","z":"4d747db9.998754","name":"","active":false,"console":"false","complete":"payload","x":473.20225524902344,"y":276.6171875,"wires":[]},{"id":"d2c9754b.1f08d8","type":"http request","z":"4d747db9.998754","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":340.95225524902344,"y":363,"wires":[["85051930.603eb8","fb001088.08a42"]]},{"id":"85051930.603eb8","type":"debug","z":"4d747db9.998754","name":"","active":false,"console":"false","complete":"false","x":454.19444274902344,"y":442.6171875,"wires":[]},{"id":"fb001088.08a42","type":"function","z":"4d747db9.998754","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":621.9522552490234,"y":365,"wires":[["1a97d42a.22aebc"]]},{"id":"21c6b29a.5b465e","type":"comment","z":"4d747db9.998754","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":155.89755249023438,"y":480.61370849609375,"wires":[]},{"id":"108e882f.471558","type":"function","z":"4d747db9.998754","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":160.8975372314453,"y":600.6137084960938,"wires":[["b4ff158e.c3dec8"],["772eefcf.1f0b"]]},{"id":"aec6ee7e.6c71f","type":"function","z":"4d747db9.998754","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData('pir',devices);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: 'pir'}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":885.8975677490234,"y":652.6137084960938,"wires":[["b4ff158e.c3dec8","eded9fed.0d47b"]]},{"id":"b4ff158e.c3dec8","type":"websocket out","z":"4d747db9.998754","name":"web socket mobiUI - out","server":"7510b717.fb44d8","client":"","x":1201.8975677490234,"y":573.6137084960938,"wires":[]},{"id":"f3f821dd.5d119","type":"http request","z":"4d747db9.998754","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":617.8975677490234,"y":655.6137084960938,"wires":[["aec6ee7e.6c71f","602cf3dd.5f93ec"]]},{"id":"8d540921.8595c8","type":"websocket in","z":"4d747db9.998754","name":"Web Socket gateway - in","server":"7510b717.fb44d8","client":"","x":154.38890075683594,"y":541.2161502838135,"wires":[["108e882f.471558"]]},{"id":"772eefcf.1f0b","type":"function","z":"4d747db9.998754","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID');\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\ncontext.global.selectedMac= mac;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":442.19444274902344,"y":646.859375,"wires":[["f3f821dd.5d119"],[]]},{"id":"cd8e905f.3211c","type":"function","z":"4d747db9.998754","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":883.9522552490234,"y":717,"wires":[["b4ff158e.c3dec8","3f49c40c.ca12cc"]]},{"id":"c79594e9.cbeae8","type":"http request","z":"4d747db9.998754","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":615.9522552490234,"y":720,"wires":[["cd8e905f.3211c"]]},{"id":"eded9fed.0d47b","type":"debug","z":"4d747db9.998754","name":"","active":true,"console":"false","complete":"payload","x":1208.2022552490234,"y":659.609375,"wires":[]},{"id":"3f49c40c.ca12cc","type":"debug","z":"4d747db9.998754","name":"","active":true,"console":"false","complete":"payload","x":1219.9522552490234,"y":726,"wires":[]},{"id":"602cf3dd.5f93ec","type":"debug","z":"4d747db9.998754","name":"","active":true,"console":"false","complete":"false","x":820.1944427490234,"y":531.6171875,"wires":[]}]