.nodered/flows_Jason-PC.json
[{"id":"64f43a63.b00ac4","type":"tab","label":"Flow 1"},{"id":"23b9fda3.6642d2","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f62a0128.681c4","type":"mqtt-broker","z":"","broker":"emqs-blazing.giotgateway.com ","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7b54de92.a66bd","type":"debug","z":"64f43a63.b00ac4","name":"","active":false,"console":"false","complete":"payload","x":296.11109924316406,"y":33.5,"wires":[]},{"id":"73f69413.440f9c","type":"function","z":"64f43a63.b00ac4","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":133.48611450195312,"y":110.88671875,"wires":[["f5451d47.1d64e"]]},{"id":"75cd2b10.5ae8d4","type":"inject","z":"64f43a63.b00ac4","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":129.49002075195312,"y":247.69141387939453,"wires":[["4cd0801.89a0b8"]]},{"id":"4cd0801.89a0b8","type":"function","z":"64f43a63.b00ac4","name":"Save finalList to DB","func":"var msgTools = context.global.msgTools;\nvar listDbTools = context.global.listeDbTools;\nvar list = msgTools.getFinalList();\n//node.warn('list :'+JSON.stringify(list));\n//msgTools.saveFinalListToFile();\nlistDbTools.updateList('finalist',list,function(err,result){\n    if(err)\n        node.warn('Save final list to database err:'+err);\n    else\n         node.log('Save final list to database success');\n});\n\nreturn;","outputs":1,"noerr":0,"x":345.4939270019531,"y":247.87889862060547,"wires":[[]]},{"id":"63261c54.dbcc84","type":"comment","z":"64f43a63.b00ac4","name":"Auto save finalList to file per 5 minutes","info":"","x":184.48611450195312,"y":204.33203125,"wires":[]},{"id":"f5451d47.1d64e","type":"function","z":"64f43a63.b00ac4","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":338.4899597167969,"y":112.38671875,"wires":[["bfcd2dcd.32ae9"]]},{"id":"bfcd2dcd.32ae9","type":"debug","z":"64f43a63.b00ac4","name":"","active":false,"console":"false","complete":"false","x":534.4938659667969,"y":112.03515625,"wires":[]},{"id":"8085baa9.a6fb08","type":"mqtt in","z":"64f43a63.b00ac4","name":"blazing-mqtt","topic":"df.blazing-mqtt.uldata","qos":"2","broker":"f62a0128.681c4","x":104.11111450195312,"y":33.111114501953125,"wires":[["7b54de92.a66bd","73f69413.440f9c"]]}]